h1 {
    text-align: center;
    margin-top: 1%;
}
h2 {
    text-align: center;
    margin-top: 5%;
    font-size: 64px;
}
.correct {
    color: green;
}
.wrong {
    color: red;
}
.streak {
    color: orange;
}